<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet"
          th:href="@{/bootstrap/css/bootstrap.css}">
    <script src="../static/bootstrap/js/bootstrap.js"
            th:src="@{/bootstrap/js/bootstrap.js}">
    </script>
    <title>Directors</title>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark h4">
        <div class="container-fluid">
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link active" href="#">Directors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Titles</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section id="department">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label class="form-label"
                                       for="field_directorName">Director's name</label>
                                <input class="form-control"
                                       id="field_directorName"
                                       type="text"/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label"
                                       for="field_directorSurname">Director's surname</label>
                                <input class="form-control"
                                       id="field_directorSurname"
                                       type="text">
                            </div>
                            <div class="mb-3">
                                <label class="form-label"
                                       for="field_directorBirthDate"></label>
                                <input class="form-control"
                                       id="field_directorBirthDate"
                                       type="date">
                            </div>
                            <div class="d-flex justify-content-end">
                                <a class="btn btn-light me-1"
                                   href="#"
                                   title="Cancel">Cancel</a>
                                <a class="btn btn-primary"
                                   href="#"
                                   title="Save department">Save</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
